

p{
    padding-bottom: 7%;
}

.container{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

.gridList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "home-btn" "quemsomos-btn" "tecnicas-btn" "cursos-btn" "fotos-btn" "pampa-btn" "contato-btn";
    padding-top: 0;
    line-height: 2em;
}

.gridList>li {
    justify-self: center;
    list-style-type: none;
    border: 1px solid #ccc;
    width: 100%;
    background-color: white;
}

.gridList>li>a {
    color: #000;
    font-size: 1em;
    text-decoration: none;
    padding: 0.3em;
    background-color: white;
    margin: auto;
}

.gridList>li a:hover .gridList>li a:focus {
    color: grey;
    background-color: #F5EAD6;
    transition: background-color 1s ease-out;
}

/**NAVIGATION MOBILE**/

.nav-desktop {
    display: none;
}

.nav-mobile{
    width: 100%;
}

.navBar{
    width: 100%;
}

.home-btn {
    grid-area: home-btn;
    display: grid;
    width: 100%;
    padding-bottom: 1%;
}

.nav-grid a:hover{

    background-color: purple;
    }
    

.quemsomos-btn {
    grid-area: quemsomos-btn;
    display: grid;
}

.tecnicas-btn {
    grid-area: tecnicas-btn;
    display: grid;
}

.cursos-btn {
    grid-area: cursos-btn;
    display: grid;
}

.fotos-btn {
    grid-area: fotos-btn;
    display: grid;
}

.contato-btn {
    grid-area: contato-btn;
    display: grid;
}

/**HOME**/

#home-desktop{
    display: none;
}

#home {
    display: grid; 
    width: 100%; 
}

.img-home{
    width: 100%;
    padding: 0;
}

.atelier-logo {
    max-width: 100%;
    text-align: center;
    z-index: 2;
    width: 75%;
    position: absolute;
    top: 65%;
    left: 13%;
}

/**ABOUT US**/

#quem-somos {
    display: grid;
    margin-top: 0;
}

.quemsomos-texto-imagem {
    width: 100%;
}

.quemsomos-texto {
    font-size: 1.3rem;
    padding: 5% 2% 1% 4%;
}

.quemsomos-imagem-round {
    width:80%;
    padding-top: 6%;
    margin-left: 10%;
}

/**TECNICAS**/

#tecnicas {
    display: grid;
}

.tecnicas-imagem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tecnicas-texto {
    font-size: 1.3rem;
    padding: 0% 2% 4% 4%;
}

/**CURSOS**/

#cursos {
    display: grid;
}

.cursos-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 
    padding-top: 5%;
    padding-bottom: 3%;
}

.cursos-texto {
    font-size: 1.3rem;
    padding: 0% 4% 2% 3%;
}

/**FOTOS**/

#fotos {
    display: grid;
    align-items: center;
    justify-content: center;
}

.fotos-texto{
    font-size: 1.3rem;
    padding: 0% 2% 4% 4%;
}

.fotos-atelier{
    display:flex;
    flex-direction: columns;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
    overflow: hidden;
}

/**PAMPA**/

#pampa {
    display: grid;
}

.pampa-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 
    padding-top: 5%;
    padding-bottom: 3%;
}

.pampa-texto {
    font-size: 1.3rem;
    padding: 0% 2% 4% 4%;
}

/**CONTACT**/

#contato {
    display: grid;
}

.contato-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 
    padding-top: 5%;
    padding-bottom: 3%;
}
.contato-texto {
    font-size: 1.3rem;
    padding: 0% 2% 0% 4%;
}



@media only screen and (min-width: 736px) {

    
    .container{
        width: 1200px;
        display: block;
        overflow: none;
    }
    
    p{
        padding-bottom: 7%;
    }
    
    body {
        padding: 0;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em;
    }

    .atelier-logo {
        text-align: center;
        z-index: 2;
        width: 40%;
        position: absolute;
        top: 57%;
        left: 29%;
    }

    /**NAVIGATION DESKTOP**/
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
        width: 100%;
    }
    .container-nav {
        width: 80%;
        display: flex;
        margin-right: 6%;
    }
    nav {
        list-style: none;
        position: fixed;
        right: 0;
        z-index: 2;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav ul {
        margin-top: 1.1%;
    }
    nav>ul>li {
        position: relative;
        display: inline;
        list-style: none;
        padding: 6px;
        justify-items: end;
    }
    nav>ul>li>a {
        position: relative;
        padding: 1px 12px;
        font-size: 1.2rem;
        transition: all 0.3s ease;
        right: 10px;
    }
    a {
        color: #595959;
        text-decoration: none;
        justify-items: end;
    }
    a:hover, a:active {
        color: #262626;
    }
    nav>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -1px;
        /**left: 0;*/
        background: linear-gradient(to right, #fff 49%,  46%);
        background-size: 200%;
        /**size of the underline not in hover*/
        background-position: 100% 4px;
        transition: all 0.3s ease 0s;
        overflow: none;
    }
    a:hover:before, a:active:before {
        background-position: 0 0;
    }
    /**HOME**/
    .img-home {
        padding: 4% 8% 6% 8%;
        width: 98%;
    }

    #home-desktop{
        display: block;
    }

    #home{
        display: none;
    }
    
    /**QUEM SOMOS**/
    #quem-somos {
        display: grid;
        margin-top: 0;
    }
    
    .quemsomos-texto-imagem {
        width: 100%;
    }
    
    .quemsomos-texto {
        font-size: 1.3rem;
        padding: 5% 2% 1% 4%;
    }
    
    .quemsomos-imagem-round {
        width:80%;
        padding-top: 6%;
        margin-left: 10%;
    }
    
   
    /**CONTACT DESKTOP**/

    a i{
        color: black;
        font-size: 46px !important;
    }

    .a-phone{
        color: black;
        padding: 3%;
    }

}



