

body {   display: grid;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

.gridList {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "home-btn" "quemsomos-btn" "tecnicas-btn" "cursos-btn" "fotos-btn" "pampa-btn" "contato-btn";
    padding-top: 0;
    padding-left: 0;
    line-height: 2em;
}

.gridList>li {
    list-style-type: none;
    border: 1px solid #ccc;
    width: 100%;
    background-color: white;
}

.gridList>li>a {
    color: #000;
    font-size: 1em;
    text-decoration: none;
    background-color: white;
    margin: auto;
}

.gridList>li a:hover .gridList>li a:focus {
    color: grey;
    background-color: #F5EAD6;
    transition: background-color 1s ease-out;
}

/**NAVIGATION MOBILE**/

.nav-desktop {
    display: none;
}

.nav-mobile{
    width: 100%;
}

.navBar{
    width: 100%;
}

.home-btn {
    grid-area: home-btn;
    text-align: center;
}

.nav-grid a:hover{

    background-color: purple;
    }
    

.quemsomos-btn {
    grid-area: quemsomos-btn;
    text-align: center;
}

.tecnicas-btn {
    grid-area: tecnicas-btn;
    text-align: center;
}

.cursos-btn {
    grid-area: cursos-btn;
    text-align: center;
}

.fotos-btn {
    grid-area: fotos-btn;
    text-align: center;
}

.contato-btn {
    grid-area: contato-btn;
    text-align: center;
}

/**HOME**/

#home-desktop{
    display: none;
    background-image: url('../img/homeImgRect.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

#home-desktop img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home {
    display: grid; 
    width: 100%; 
    height: 200px;
    background-image: url('../img/homeRectangle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-home{
    width: 100%;
    padding: 0;
}

.atelier-logo {
    max-width: 100%;
    text-align: center;
    z-index: 2;
    width: 75%;
    position: absolute;
    top: 65%;
    left: 13%;
}

.atelier-logo-mobile {
    max-width: 100%;
    width: 75%;
    margin: auto auto;
}

/**ABOUT US**/

#quem-somos {
    display: grid;
 
}

.quemsomos-texto-imagem {
    width: 100%;
}

.quemsomos-texto {
    font-size: 1.3rem;
    margin: 20px;
    padding: 5% 2% 1% 4%;
}

.quemsomos-imagem-round {
    width:80%;
    padding-top: 6%;
}

/**TECNICAS**/

#tecnicas {
    display: grid;
}

.tecnicas-imagem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tecnicas-texto {
    font-size: 1.3rem;
    margin: 20px;
    padding: 0% 2% 4% 4%;
}

/**CURSOS**/

#cursos {
    display: grid;
}

.cursos-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.cursos-texto {
    font-size: 1.3rem;
    margin: 20px;
    padding: 0% 4% 2% 3%;
}

/**FOTOS**/

#fotos {
    display: grid;
    align-items: center;
    justify-content: center;
}

.fotos-texto{
    font-size: 1.3rem;
    margin: 20px;
}

.fotos-atelier{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    background-color: #e0ebeb;
}
.col1 img, .col2 img, .col3 img, .col4 img {
    width:100%;
}

/**PAMPA**/

#pampa {
    display: grid;
}

.pampa-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.pampa-texto {
    font-size: 1.3rem;
    margin: 20px;
    padding: 0% 2% 4% 4%;
}



/**CONTACT**/

#contato {
    display: grid;
}

.contato-imagem {
    display: flex;
    flex-direction: row;
    width: 100%; 

}
.contato-texto {
    font-size: 1.3rem;
    padding: 0% 2% 0% 4%;
}

.contato-texto a {
    margin-right: 10px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


.section-center {
    text-align: center;
}

@media only screen and (min-width: 736px) {
    
    .container{
        width: 1200px;
        display: block;
        overflow: none;
        margin: auto;
    }
    
    body {
        padding: 0;
        font-family: 'Oswald', sans-serif;
        font-size: 1.3em;
    }

    .atelier-logo {
       transform: translate(-50%, -50%);
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    /**NAVIGATION DESKTOP**/
    .nav-mobile {
        display: none;
    }
    .right{
        width: 100%;
    }
   
    .nav-desktop {
        display: block;
        position: fixed;
        top: 15px;
        width: 100%;
    }

    nav {
        list-style: none;
        width: 600px;
        margin: auto;
    }

    nav ul {
        margin-top: 1.1%;
        background-color: rgba(255, 255, 255, 0.75);
    }

    nav>ul>li {
        position: relative;
        display: inline;
        list-style: none;
        padding: 6px;
        justify-items: end;
    }
    
    a {
        color: #595959;
        text-decoration: none;
        justify-items: end;
    }
    a:hover, a:active {
        color: #262626;
    }
    
    /**HOME**/

    #home-top{
        top: 20px;
    }
    #home-desktop{
        display: block;
        background-image: url(../img/homeRectangle.jpg);
        height: 703px;
        width: 100%;
        margin-top: 67px;
        margin-bottom: 30px;
        background-size: cover;
        background-position: center;
    }

    #home{
        display: none;
    }
    
    /**QUEM SOMOS**/
    #quem-somos {
        display: grid;
        margin-top: 0;
    }
    
    .quemsomos-texto-imagem {
        width: 100%;
    }
    
    .quemsomos-texto, .tecnicas-texto, .cursos-texto, .fotos-texto, .pampa-texto, .contato-texto {
        font-size: 1.3rem;
        padding: 3% 2% 2% 2%;
    }
    
    .quemsomos-imagem-round {
        width: 67%;
        padding-top: 0%;
    }

    /**CURSOS**/

    .cursos-atuais{
        margin: 7px 10px 0 0;
    }

    /**FOTOS**/
    
    .fotos-atelier{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 10px;
        background-color: #e0ebeb;
    }

    /**PAMPA**/
    .fotos-pampa{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 10px;
        background-color: #e0ebeb;
    }
    .col1 img, .col2 img, .col3 img, .col4 img {
        width:100%;
    }
   
    /**CONTACT DESKTOP**/

    a i{
        color: black;
        font-size: 46px !important;
    }

    .a-phone{
        color: black;
        padding: 3%;
    }

    .contato-atelier{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 10px; 
    }
    .espaco-contato{
        height: 150px;
    }

}



